* {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.form {
  width: 600px;
}

.fieldset > *:not(:last-child) {
  margin-bottom: 12px;
}

.submit-btn {
  margin-top: 20px;
}
