.object-item .array-field {
  padding: 10px 20px 20px;
  border-radius: 5px;
}

.array-field {
  background-color: white;
  padding: 10px 0;
}

.array-field__item {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
}

.array-btn {
  margin-top: 8px;
}
