.string-item-wrapper {
  width: 100%;
}

.string-item {
  width: 100%;
}

.warning {
  border-color: red;
}

.warning:focus {
  border-color: red;
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.2);
}
